html {
    font-family: "Lucida Sans";
}

body {
    margin: 0;

}

.inline {
    display: inline;
}

.header {
    width: 100%;
    height: 10%;
    background-image: url("images/kelhamlogo.PNG");
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 5px black solid;
}

.nav-bar {
    display: flex;
    border-bottom: 5px black solid;
    width: 100%;
    min-height: 50px;
}

.nav-cell {
    border-right: 5px black solid;
    width: fit-content;
    min-height: 50px;
    padding: 5px;
}

.nav-cell-socialmedia {
    border-right: 5px black solid;
    width: fit-content;
    min-height: 50px;
    padding: 5px;
    text-align: right;
}

.nav-cell:hover {
    background-color: black;
}
.nav-cell:hover > a{
    color: white;
}


.nav-cell-link {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-size: min(5vw, 3em);
}

.body-background > img {
    width: 100%;
}

.body-container {
    width: 100%;
    min-height: 10%;
    border-top: 5px black solid;
    border-bottom: 5px black solid;
    word-wrap: break-word;
}

footer {
    background-color: rgb(80, 80, 80);
}

footer > * {
    margin: 0;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-globe {
    background: #000000;
    color: white;
}

.fa-twitter {
    background: #00aeff;
    color: white;
}

.fa-youtube {
    background: #ff0000;
    color: white;
}

/* <a href="http://www.simt.co.uk/kelham-island-museum" class="fa fa-globe" title="Kelham Island's Official Website"></a>
                <a href="https://www.facebook.com/kelhamislandmuseum" class="fa fa-facebook" title="Facebook"></a>
                <a href="https://twitter.com/KelhamIsland" class="fa fa-twitter" title="Twitter"></a>
                <a href="https://www.youtube.com/user/KelhamIslandMuseum" class="fa fa-youtube" title="Youtube"></a> */