
html {
    font-family: 'Lucida Sans';
}
body {
    margin: 0;
    min-height: 100vh;
}

.inline {
    display: inline;
}

.header {
    width: 100%;
    height: 10%;
    background-image: url("images/kelhamlogo.PNG");
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 5px #313131 solid;
}

.nav-bar {
    display: flex;
    border-bottom: 5px #313131 solid;
    width: 100%;
    min-height: 50px;
}

.nav-cell {
    border-right: 5px #313131 solid;
    width: fit-content;
    min-height: 50px;
    padding: 5px;
}

.nav-cell-socialmedia {
    border-right: 5px #313131 solid;
    width: fit-content;
    min-height: 50px;
    padding: 5px;
    text-align: right;
}

.nav-cell:hover {
    background-color: #005276;
}
.nav-cell:hover > a{
    color: white;
}


.nav-cell-link {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-size: min(5vw, 3em);
}
.body-background {
    position: relative;
}

.body-background img {
    width: 100%;
    height: auto;
}

.body-background .button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: rgba(85, 85, 85, 0.493);
    color: white;
    font-size: 2rem;
    padding: 12px 60px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.body-container {
    width: 100%;
    min-height: 10%;
    border-top: 5px black solid;
    border-bottom: 5px black solid;
    word-wrap: break-word;
    margin-bottom: 100px;
}

footer {
    background-color: rgb(80, 80, 80);
    padding-bottom: 200px;
}

footer > * {
    margin: 0;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-globe {
    background: #000000;
    color: white;
}

.fa-twitter {
    background: #00aeff;
    color: white;
}

.fa-youtube {
    background: #ff0000;
    color: white;
}

.list {
    margin: 10% 30px;
    background-color: white;
}

.list-item {
    margin:0;
    padding: 20px;
    border: 10px solid black;
}

.list-item a {
    text-decoration: none;
    color: black;
    font-size: min(5vw, 50px);
}

/* <a href="http://www.simt.co.uk/kelham-island-museum" class="fa fa-globe" title="Kelham Island's Official Website"></a>
                <a href="https://www.facebook.com/kelhamislandmuseum" class="fa fa-facebook" title="Facebook"></a>
                <a href="https://twitter.com/KelhamIsland" class="fa fa-twitter" title="Twitter"></a>
                <a href="https://www.youtube.com/user/KelhamIslandMuseum" class="fa fa-youtube" title="Youtube"></a> */